In [1]:
import pandas as pd
# nd = "nyc_10_15"
# nd = "nyc_5_14"
nd = "star_1_5"
f1 = f"/home/manoj/sdn/onos-apps/network_data/test/{nd}/gr_wt.csv"
f2 = f"/home/manoj/sdn/onos-apps/network_data/test/{nd}/dijk.csv"

In [2]:
m1 = pd.read_csv(f1)
m2 = pd.read_csv(f2)
m1.head()

   Sno  id  delay  jitter  bandwidth
0   16   0  219.4   20.20      494.0
1    1   0   43.2   14.08      625.5
2    2   0  446.2   39.60      606.5
3   19   0  163.7   25.64      466.0
4    5   0  238.9  102.10      625.5

In [3]:
x = 30
print( "Delay : " , m1[ m1["id"] == x]["delay"].mean() )
print( "Jitter : " , m1[ m1["id"] == x]["jitter"].mean() )
print( "Bandwidth : " , m1[ m1["id"] == x]["bandwidth"].mean() )

print( "Delay : " , m2[ m2["id"] == x]["delay"].mean() )
print( "Jitter : " , m2[ m2["id"] == x]["jitter"].mean() )
print( "Bandwidth : " , m2[ m2["id"] == x]["bandwidth"].mean() )

Delay :  714.8
Jitter :  1180.8033
Bandwidth :  2611703.4
Delay :  10400.66
Jitter :  1110.02
Bandwidth :  2891522.9

In [4]:
print( "Delay : " , m1[ m1["id"] > 10]["delay"].mean() )
print( "Jitter : " , m1[ m1["id"] > 10]["jitter"].mean() )
print( "Bandwidth : " , m1[ m1["id"] > 10]["bandwidth"].mean() )

print( "Delay : " , m2[ m2["id"] > 10]["delay"].mean() )
print( "Jitter : " , m2[ m2["id"] > 10]["jitter"].mean() )
print( "Bandwidth : " , m2[ m2["id"] > 10]["bandwidth"].mean() )

Delay :  1416.4496543076923
Jitter :  552.8750789615385
Bandwidth :  2300698.8865384613
Delay :  1432.455608264151
Jitter :  755.4593676603774
Bandwidth :  2228013.5811320753